.form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.form-control.invalid input {
    border-color: red;
    background: #ffd7d7;
}

.form-control.invalid label {
    color: red;
}

.form-btn:hover {
    background-color: blue;
}

.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #810c81;
    color: white;
    background: #810c81;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #d912d9;
    border-color: #d912d9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (max-width: 768px) {
    .button {
        width: 100%;
    }
}