.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    margin-top: 10px;
    background-color: mediumpurple;
    padding: 50px 110px;
    border-radius: 20px;
}

.header button {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}