.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 150px;
    justify-content: space-evenly;
}

.form-container.invalid input {
    border-color: red;
    background-color: #ff857d;
}

.form-container.invalid label {
    color: red;
}